[Desktop Entry]
Name=Visit MobaXterm Website
Exec=env WINEPREFIX="/home/mohammedamer/.wine" wine-stable C:\\\\users\\\\mohammedamer\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\MobaXterm\\\\Visit\\ MobaXterm\\ Website.lnk
Type=Application
StartupNotify=true
StartupWMClass=mobaxterm.mobatek.net
